.my-popup-header {
  background-color: #696cff;
}

.my-popup-h5 {
  color: #fff;
}

.my-divider {
	border-color: #696cff;
}

.my-logo-txt {
	color: #696cff;
}

.layout-navbar {
  background-color: #696cff !important;
  color: #fff;
}

.my-menu-toggle {
	color: #fff;
}
